# SENSITIVE 
**/*.key
**/*.pem
**/*.crt
**/*.env

# CACHE / TEMP 
**/.cache/
**/*.swp
**/*.bak
**/*~
**/*.tmp
**/*.temp
**/icon-theme.cache

# EDITORS 
**/.vscode/
**/.idea/

# USER-SPECIFIC STATE 
.config/gtk-3.0/bookmarks
.config/Thunar/accels.scm

# XFCE runtime state
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/xfce4/xfconf/xfce-perchannel-xml/ristretto.xml
