@define-color main-bg #1a1b26;
@define-color main-fg #c0caf5;
@define-color wb-act-bg #7aa2f7;
@define-color wb-act-fg #1a1b26;

/* === Global === */
* {
  font-family: "0xProto Nerd Font", monospace;
  font-weight: bold;
  font-size: 11px;
  /* lebih pas untuk 1366x768 */
}

/* === Waybar Window === */
window#waybar {
  background: transparent;
}

window > box {
  background: @main-bg;
  /* margin: 3px 3px 0em 3px; */
  padding: 0 0.5em;
}

/* === Tooltip === */
tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 0;
  font-size: 10px;
}

/* === Workspaces & Taskbar === */
#workspaces {
  margin: 0.2em 0;
}

#workspaces button {
  border-radius: 0;
  min-width: 1.5em;
}

#workspaces button {
  color: #9ece6a;
  padding: 0em 0.5em 0em 0.3em;
}

#workspaces button.focused {
  color: #f7768e;
}

/* === Modules === */
#tray,
#temperature,
#memory,
#clock,
#battery,
#pulseaudio,
#backlight,
#idle_inhibitor,
#custom-networkmanager,
#custom-bluetooth,
#custom-power,
#custom-power,
#custom-l_end,
#custom-r_end {
  padding: 0 0.25em;
  font-size: 11px;
}

/* === Icon Coloring === */
#temperature {
  color: #bb9af7;
}

#memory {
  color: #9ece6a;
}

#battery {
  color: #7aa2f7;
}

#pulseaudio {
  color: #e0af68;
}

#backlight {
  color: #f7768e;
}

#custom-power {
  color: #f7768e;
}

/* === Tray === */
#tray {
  background: #16161e;
  margin: 0.2em 0.3em;
  padding: 0 0.4em;
}

/* === Custom Separators === */
#custom-l_end {
  margin-left: 0.3em;
}

#custom-r_end {
  margin-right: 0.3em;
}
