configuration {
    modi:                        "drun";
    show-icons:                  false;
    display-drun:                "";
}

@theme "theme"
@import "shared"

listbox {
    children:                    [ "inputbar" ];
}
